<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javayh.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.javayh.entity.SysRole">
        <id column="id" property="id" />
        <result column="available" property="available" />
        <result column="description" property="description" />
        <result column="role" property="role" />
    </resultMap>

    <select id="getList" resultMap="BaseResultMap">
        select * from sys_role
        where
        description in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and
        role = #{vo.role}
    </select>
</mapper>
